<div class="grid">
  <div class="col-1-2">
    <h1>Lista Usuários</h1>
  </div>
  <div class="col-1-2 section-options">
  </div>
</div>

<%= link_to "Novo Usuário", new_site_user_path(@site) if current_user.admin? %>

<br />
<br />

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
        <tr id="user-<%= user.id %>">
          <td>
            <%= link_to user.name,
              edit_site_user_path(@site, user),
              id: "edit-user-#{user.id}" %>
          </td>
          <td><%= user.roles.join(", ") %></td>
        </tr>
    <% end %>
  </tbody>
</table>
