<!DOCTYPE html>
<html>
<head>
  <title>Cas</title>
  <%= stylesheet_link_tag    "cas/application", media: "all" %>
  <%= javascript_include_tag "cas/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <header>
    <div class="">
      <div class="grid">
        <div class="col-1-2">
          <h1>
            ponet
          </h1>
        </div>
      </div>
      <div class=“col-1-2”>
        algum texto
      </div>

      <nav class="grid">
        <div class="col-1-1">
          <p>menus</p>
        </div>
  </header>

  <div class="container">


  </div>
  <%= yield %>

</body>
</html>
