<table>
  <thead>
    <tr>
      <th>Seção</th>
      <th></th>
    </tr>
  </thead>

  <% @sections.each do |section| %>
    <% next unless Cas::SectionConfig.new(section).accessible_by_user?(current_user) %>
    <tr id="section-<%= section.id %>">
      <td><%= section.name %></td>
      <td>
        <%= link_to 'Novo', new_site_section_content_path(@site, section), id: "new-content-#{section.id}" %>
        &nbsp;
        &nbsp;
        <%= link_to 'Gerenciar', site_section_contents_path(@site, section), id: "manage-section-#{section.id}" %>
      </td>
    </tr>
  <% end %>
</table>
