<table>
  <thead>
    <tr>
      <th>Seção</th>
      <th></th>
    </tr>
  </thead>

  <% @sections.each do |section| %>
    <tr id="section-<%= section.id %>">
      <td><%= section.name %></td>
      <td>
        <%= link_to 'Novo', new_section_content_path(section), id: 'new-content' %>
        &nbsp;
        &nbsp;
        <%= link_to 'Gerenciar', section_contents_path(section), id: "manage-section-#{section.id}" %>
      </td>
    </tr>
  <% end %>
</table>
