<div class="grid">
  <div class="col-1-2">
    <h1>Pessoas</h1>
  </div>
  <div class="col-1-2 section-options">
  </div>
</div>

<%= link_to "Nova Pessoa", new_site_person_path(@site) if current_person.admin? %>

<br />
<br />

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
        <tr id="person-<%= person.id %>">
          <td>
            <%= link_to person.name,
              edit_site_person_url(@site, person),
              id: "edit-person-#{person.id}" %>
          </td>
          <td><%= person.roles.join(", ") %></td>
        </tr>
    <% end %>
  </tbody>
</table>
