<div class="attachment-item" data-id="<%= file_id %>">
  <div class="attachment-container">
    <div class="filename">
      <%= file_name %>
    </div>

    <div class="attachment-options">
      <a href="javascript: void(0)" class="js-delete-file btn">Excluir</a>
    </div>
  </div>
</div>
