<h1>Listing Contents</h1>
<table>
  <tr>
    <th>Title</th>
    
  </tr>
 
  <% @contents.each do |content| %>
    <tr id="content-<%= content.id %>">
      <td><%= link_to content.title,
      edit_section_content_path(@section.id, content.id) %></td>
      
      
    </tr>
  <% end %>
</table>